#header{
    box-shadow: 0 2px 30px 0 rgb(0 0 0/16%);
    min-height: 6rem;
    display: flex;
    align-items: center;
}

.header-content{
    position: relative;
    display: flex;
    padding: 0 8rem;
    width: 100%;
}

.header-menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-content .left-section{
    display: flex;
    justify-content: flex-start;
    flex-basis: 33.3%;
}

.header-content .middle-section{
    display: flex;
    justify-content: center;
    flex-basis: 33.3%;
}

    .header-content .middle-section li a{
        text-transform: uppercase;
    }

.header-content .right-section{
    display: flex;
    justify-content: flex-end;
}

    .header-content .right-section li a{
        text-transform: uppercase;
    }