<header id="header">
    <ul class="header-content">
        <li class="left-section">
            <h1 class="logo">
                A&amp;I
            </h1>
        </li>
        <li class="middle-section">
            <ul class="header-menu">
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
            </ul>
        </li>
        <li class="right-section">
            <ul class="header-menu">
                <li>
                    <a routerLink="contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>