#header{
    box-shadow: 0 2px 30px 0 rgb(0 0 0/16%);
    min-height: 6rem;
    display: flex;
    align-items: center;
}

.header-content{
    position: relative;
    display: flex;
    padding: 0 8rem;
    width: 100%;
}

.header-menu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

    .header-menu li{
        position: relative;
    }

        .header-menu li:hover a{
            color: var(--color-celestial-blue);
        }

        .header-menu .submenu{
            position: absolute;
            top: 100%;
            left: 0rem;
            background-color: white;
            padding-top: 2.25rem;
            height: 0;
            width: 0;
            overflow: hidden;
            transition-property: height;
            transition-duration: 0.3s;
        }

        .header-menu li:hover .submenu{
            height: 12.25rem;
            width: unset;
        }

        .header-menu .submenu li{
            line-height: 2rem;
            padding: 0 1rem;
            user-select: none;
            cursor: pointer;
        }

        .header-menu .submenu li:hover{
            background-color: lightblue;
        }

.header-content .left-section{
    display: flex;
    justify-content: flex-start;
    flex-basis: 33.3%;
}

.header-content .middle-section{
    display: flex;
    justify-content: center;
    flex-basis: 33.3%;
}

    .header-content .middle-section li a{
        text-transform: uppercase;
    }

.header-content .right-section{
    display: flex;
    justify-content: flex-end;
}

    .header-content .right-section li a{
        text-transform: uppercase;
    }