<header id="header">
    <ul class="header-content">
        <li class="left-section">
            <img src="assets/img/ailogo_full.png" alt="Logo principal">
        </li>
        <li class="middle-section">
            <ul class="header-menu">
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/acercade">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a routerLink="/servicios">
                        Servicios
                        <fa-icon [icon]="icnMore"></fa-icon>
                    </a>
                    <ul class="submenu">
                        <li *ngFor="let smItem of submenu; let i = index" (click)="onServiceClick(smItem.id)">
                            {{smItem.title}}
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </li>
        <li class="right-section">
            <ul class="header-menu">
            </ul>
        </li>
    </ul>
</header>