<header class="container-fluid px-0">
    <ul class="header-content">
        <li class="left-section">
            <h2 style="font-weight: normal;">
                LOGO
            </h2>
        </li>
        <li class="middle-section">
            <ul class="header-menu">
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
            </ul>
        </li>
        <li class="right-section">
            <ul class="header-menu">
                <li>
                    <a href="#">
                        Contacto
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>