#footer{
    background-color: var(--color-eerie-black);
}

#footer * {
    color: var(--font-color-secondary);
}

.socials-list{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.upper-footer-container,
.lower-footer-container{
    padding: 0 8rem;
}

.upper-footer-container{
    padding-top: 4rem;
    min-height: 30rem;
}

.lower-footer-container{
    background-color: var(--color-jet);
    min-height: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact-info-elements{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media (max-width: 768px) {
    .upper-footer-container,
    .lower-footer-container{
        padding: 2rem 2rem;
    }

    .socials-list{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .lower-footer-container > .row > .col-12.col-lg-8 {
        text-align: center;
    }
}