<footer class="container-fluid">
    <div class="row">
        <div class="container upper-footer-container">
            upper container
        </div>
    </div>
    <div class="row">
        <div class="container lower-footer-container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    Copyright &copy; Todos los derechos reservados
                </div>
                <div class="col-12 col-lg-4">
                    <ul class="socials-list">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>