<footer class="container-fluid" id="footer">
    <div class="row">
        <div class="container-fluid upper-footer-container">
            <div class="row">
                <div class="col-12">
                    <h1>LOGO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 pb-4">
                    <p>
                        Somos un equipo creciente de científicos, investigadores. expertos de lenguaje.
desarrolladores de software y veteranos de la industria de publicación trabajando juntos para encontrar nuevas maneras de ayudar a los investigadores a tener éxito.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="contact-info-elements">
                        <li>
                            <fa-icon [icon]="iHouse"></fa-icon>
                            <span class="ms-2">León, Nicaragua.</span>
                        </li>
                        <li>
                            <fa-icon [icon]="iPhone"></fa-icon>
                            <span class="ms-2">(505) 0000 0000</span>
                        </li>
                        <li>
                            <fa-icon [icon]="iMail"></fa-icon>
                            <span class="ms-2">support@sample.com</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid lower-footer-container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    Copyright &copy; Todos los derechos reservados
                </div>
                <div class="col-12 col-lg-4">
                    <ul class="socials-list">
                        <li>
                            <a href="#">
                                <fa-icon [icon]="finsta"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <fa-icon [icon]="ftwit"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <fa-icon [icon]="fface"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>