<main id="main" class="global-gutter">
    <article>
        <img src="assets/img/ailogo_full.png" alt="Logo">
    </article>
    <article class="text-center">
        <h1>
            ¿Quiénes somos?
        </h1>
    </article>
    <article class="content">
        <p>
            En A&I somos un equipo de expertos integrados por diferentes disciplinas: epidemiología, metodología de la investigación, bioestadística, salud ocupacional e higiene, medicina laboral, biología, derecho, gestión de talento humano y ciencias sociales que tienen como objetivo llevarle de la mano al éxito académico.
        </p>
        <p>
            Nuestros expertos tienen trayectoria de más de 10 años de experiencia escribiendo, publicando artículos científicos, guiando trabajos de tesis de pre y postgrado. Miembros de nuestro equipo también han desarrollado entrenamientos en metodología de investigación y escritura de propuestas de investigación y ejecución de éstas a nivel nacional e internacional.
        </p>
        <p>
            Hacemos la diferencia, centrándonos en que logres comunicar tus resultados de investigación. Queremos ayudarle a que logre sus metas brindándole herramientas y ayuda para terminar su trabajo de graduación y que su investigación. Ponemos el mejor empeño para que la culminación de sus estudios sea un éxito. Termine en tiempo y forma con los formatos y herramientas apropiadas con nuestra ayuda.
        </p>
        <p>
            Nuestro equipo está entrenado para apoyarle en todo el proceso de desarrollo de un trabajo de investigación, desde el tema, la pregunta de investigación, el protocolo, hasta el informe final, si fuera necesario, le brindamos apoyo para facilitar la escritura, el uso de organizadores de bibliografía, el análisis de datos. Adicionalmente, le asesoramos con la presentación de su trabajo cumpliendo con los parámetros que le pide su universidad o centro de formación.
        </p>
        <p>
            Nuestro compromiso es contigo y te garantizamos un trabajo con alto nivel científico y con la seguridad de cero deshonestidades académicas.
        </p>
    </article>
</main>