<main id="main">
    <article class="text-center">
        <h1>Acerca de A&I</h1>
    </article>
    <article>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        </p>
    </article>
    <article class="contact-items">
        <app-card-contact [icon]="iconPhone"></app-card-contact>
        <app-card-contact [icon]="iconMail" text="example@mail.com"></app-card-contact>
    </article>
</main>