#main{
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 60vh;
}

.contact-items{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 992px){
    .contact-items{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}