<main id="main">
    <article class="banner-section global-gutter">
        <div class="banner-section-container">
            <div class="text">
                <h1>
                    NOSOTROS LE AYUDAMOS EN HACER LA DIFERENCIA
                </h1>
                <h4 style="font-weight: normal;">
                    SOMOS PROFESIONALES CON MAESTRIAS Y DOCTORADOS CON EXPERIENCIA EN TUTORIAS Y ACOMPAÑAMIENTO DE PROYECTOS DE INVESTIGACIÓN
                </h4>
            </div>
            <img 
                src="assets/img/profesor.png" 
                alt="maestro dando clase" class="image py-4">
        </div>
    </article>
    <article class="service-section global-gutter">
        <section class="title text-center">
            <h1>Servicios</h1>
        </section>
        <section class="content">
            <app-service-item *ngFor="let item of services; let i = index"
                [icon]="item.icn"
                [title]="item.title"
                [content]="item.content"
                (cta)="onServicePressed((i+1))"></app-service-item>
        </section>
    </article>
    <article class="message-section global-gutter">
        <h1>
            Tenemos un experto para su artículo
        </h1>
    </article>
</main>