#main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45.25rem;
    gap: 2rem;
    background-color: var(--color-timberwolf);
}

    .banner-section-container{
        position: relative;
        display: flex;
        justify-content: center;
        gap: -1rem;
        align-items: center;
    }

    .banner-section-container img{
        position: absolute;
        right: 0;
        top: -4rem;
    }

.banner-section .text{
    text-align: center;
    width: 70%;
}

    .banner-section .text h4{
        text-align: center;
        padding-right: 8rem;
    }

.banner-section .image{
    --size-wh: 20.25rem;
    width: var(--size-wh);
    height: var(--size-wh);
}

.service-section{
    min-height: 33.25rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2rem;
}

    .service-section .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        row-gap: 2rem;
    }

        .service-section .content app-service-item{
            display: flex;
            flex-basis: 33%;
        }

.message-section{
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-rich-black);
}

    .message-section h1{
        color: var(--font-color-secondary);
        text-align: center;
    }

@media (max-width: 992px) {
    .banner-section{
        justify-content: center;
    }

    .banner-section .text{
        width: 100%;
    }

    .service-section .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}