<main id="main">
    <article class="banner-section global-gutter">
        <div class="text">
            <h1>
                NOSOTROS LE AYUDAMOS EN HACER LA DIFERENCIA
            </h1>
            <h4 style="font-weight: normal;">
                SOMOS PROFESIONALES CON MAESTRIAS Y DOCTORADOS CON EXPERIENCIA EN TUTORIAS Y ACOMPAÑAMIENTO DE PROYECTOS DE INVESTIGACIÓN
            </h4>
        </div>
        <img 
            src="https://img.freepik.com/premium-vector/flat-teacher-s-day-illustration-spanish_23-2149354518.jpg?w=1060" 
            alt="maestro dando clase" class="image">
    </article>
    <article class="service-section global-gutter">
        <section class="title text-center">
            <h2>Servicios</h2>
        </section>
        <section class="content">
            <app-service-item *ngFor="let item of [0, 1, 2]"></app-service-item>
        </section>
    </article>
    <article class="message-section global-gutter">
        <h1>
            Tenemos un experto para su artículo
        </h1>
    </article>
</main>