.tier-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tier-parent .tier{
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    align-items: center;
}

.tier-parent .tier-name{
    text-decoration: underline;
}

.tier-features{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

@media (max-width: 992px){
    .tier-parent .tier{
        flex-basis: 48%;
    }
}